<div class="row">
	<div class="col-xl-2 col-lg-2 col-md-2"></div>
	<!-- https://tanoy009.github.io/ng4-geoautocomplete/ -->
	<div class="col-xl-8 col-lg-8 col-md-8">
		<nb-card size="tiny">
			<nb-card-header>
				New Resources <div style="float: right;">
					<label *ngIf="parseFail" ngButtonLabel class="btn-sm btn-danger">Failed to parse text! Try again or
						enter manually</label>
					<label *ngIf="parseTypeFail" ngButtonLabel class="btn-sm btn-danger">Tweet is neither a need nor a
						availability</label>
					<label *ngIf="invalidText" ngbButtonLabel class="btn-sm btn-danger">Tweet text is required.</label>
					<label *ngIf="invalidType" ngbButtonLabel class="btn-sm btn-danger">Resource type is
						required/invalid.</label>
					<label *ngIf="invalidResources" ngbButtonLabel class="btn-sm btn-danger">Need to select
						resources.</label>
					<label *ngIf="quantityMismatch" ngbButtonLabel class="btn-sm btn-warning">Quantity and resource
						items do not match.</label>
					<label *ngIf="postError" ngbButtonLabel class="btn-sm btn-daner">Error in creating resource</label>
					<label *ngIf="postSuccess" ngbButtonLabel class="btn-sm btn-success">Saved resource</label>
				</div>
			</nb-card-header>
			<nb-card-body>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="tweetText">Tweet text</label>
							<input type="text" class="form-control" nbInput fullWidth placeholder="Full width"
								[(ngModel)]="tweetText" id="tweetText">
							<button nbButton hero status="success" (click)="parseText()">Parse</button>
							<div style="float: right;font-size: 1.5em;" *ngIf="sourceDesc!==''" class="icon"> <i
									class="fas fa-map-marker-alt"></i> : {{sourceDesc}}</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<!-- category -->
						<div class="form-group">
							<label for="tweetCategory">Category</label>
							<div [(ngModel)]="resourceType" id="tweetCategory" ngbRadioGroup
								class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group">
								<label ngbButtonLabel class="btn btn-outline-success">
									<input ngbButton type="radio" value="Need"> Need
								</label>
								<label ngbButtonLabel class="btn btn-outline-success">
									<input ngbButton type="radio" value="Availability"> Availability
								</label>
								<label ngbButtonLabel class="btn btn-outline-success">
									<input ngbButton type="radio" value="Other"> Other
								</label>
							</div>
							<!-- <input type="text" class="form-control" id="tweetCategory" placeholder="First Name"> -->
						</div>
					</div>

				</div>

				<div style="align-items: center;" class="row">
					<button class="btn btn-danger" (click)="discard()">Discard</button>
					<button type="submit" (click)="saveResource()" class="btn btn-success">Save</button>
				</div>
			</nb-card-body>


		</nb-card>
	</div>
</div>
<div class="row" id="bottom-cards">
	<div class="col-sm-3" *ngFor="let match of matchCards">
		<div class="card-col">
			<nb-card size="tiny" accent="success">
				<nb-card-body>
					<div style="float: right;" class="icon" (click)="makeMatch(Need)">
						<i class="ion-checkmark"></i>
					</div>
					{{match.text}}
				</nb-card-body>
			</nb-card>
		</div>
	</div>
</div>