<div class="full">
  <div class="head">
    <button class="btn btn-success" id="heading">The Team Narmada</button>
  </div>
  <div class="body">
    <div class="card-each" *ngFor="let member of team">
      <p style="color:black" align="center">
        Raghavendra Kaushik, IIT Kharagpur<br><i>(rka87338@gmail.com)</i> <br><br>
        Debajyoti Dasgupta, IIT Kharagpur<br><i>(debajyotidasgupta6@gmail.com) </i> <br><br>
        Sayan Sinha, IIT Kharagpur<br><i>(sayan.sinha@iitkgp.ac.in) </i> <br><br>
        Kaustubh Hiware, Mercari Japan<br><i>(hiwarekaustubh@gmail.com) </i> <br><br>
        Soham Poddar, IIT Kharagpur<br><i>(sohampoddar26@gmail.com) </i> <br><br>
        Ritam Dutt, CMU<br><i>(ritam.dutt@gmail.com) </i> <br><br>
        Ritika Agarwal, American Express<br><i>(ritikaagarwal19@ap.ism.ac.in) </i> <br><br>

        <b>Advisors:</b><br><br>
        Prof Kripabandhu Ghosh, IISER Kolkata<br><i>(kripaghosh@iiserkol.ac.in)</i><br><br>
        Prof Saptarshi Ghosh, IIT Kharagpur<br><i>(saptarshi@cse.iitkgp.ac.in)</i>
      </p><br>
    </div>
  </div>
</div>