<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'"
	style="width: 100%;" id="head">
	<div id="inner-head">
		<div class="logo-containter">
			<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
			<div class="logo" (click)="goToHome()">NARMADA</div>
		</div>
		<span style="width: 100%;"><i>for COVID <span style="color: silver;"><b>v0.2</b></span></i></span>
	</div>
	<div style="width: 100%; display: flex; flex-direction: row-reverse; letter-spacing: 0.1rem;">
		<b>{{lastUpdatedTime}}</b><span style="font-weight: light;">Last
			Updated Time :&nbsp;
		</span>
	</div>
	<ngx-theme-switcher></ngx-theme-switcher>
</div>

<div class="header-container">
	<ngx-layout-direction-switcher></ngx-layout-direction-switcher>
	<nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
		<!-- <nb-action class="control-item" disabled icon="nb-notifications"></nb-action> -->
		<!-- <nb-action class="control-item" icon="nb-email"></nb-action> -->
		<!-- <nb-action class="control-item">
		<nb-search type="column-curtain" (click)="startSearch($event)"></nb-search>
	</nb-action> -->
	</nb-actions>
</div>