<div class="row">
	<!--  https://akveo.github.io/nebular/docs/components/infinite-list/overview#nbinfinitelistdirective -->
	<!-- use infinite list -->
	
	<!-- Completed Needs -->
	<div class="col-xl-3 col-lg-3 col-md-6">
		<nb-card size="xlarge">
			<nb-card-header>Completed Need</nb-card-header>
			<nb-card-body style="background-color: #E5E9F1 !important;">
				<nb-reveal-card *ngFor="let Need of CompletedNeeds">
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="warning" (click)="display(Need)" [ngStyle]="{'background-color': Need._id===selectedResource._id ? '#bdf0ff': 'white'}">
							<nb-card-body>
								<span *ngIf="Need.url!==''">
									<a href={{Need.url}} target="_blank">
										<div style="float: right;" class="icon"><i class="fab fa-twitter"></i></div>
									</a>
								</span>
								<b><span>
										<span>{{Need.text}}</span>
									</span> @ {{Need.username}} </b><br>
								{{humanReadableDate(Need.created)}}
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								<!-- Resource: {{parseResources(Need.Resources)}}<br /> -->
								Contact: {{parseContact(Need.Contact)}}<br />
								Loc: {{parseLoc(Need.Locations)}}<br />
								Source: {{Need.Sources}}<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<div style="text-align: center;"><a href="javascript:;" (click)="showMoreNeeds()">Show More</a></div>
			</nb-card-body>
		</nb-card>
	</div>

	<!-- Completed Availabilites -->
	<div class="col-xl-3 col-lg-3 col-md-6">
		<nb-card size="xlarge">
			<nb-card-header>Completed Availability</nb-card-header>
			<nb-card-body style="background-color: #E5E9F1 !important;">
				<!-- List of cards -->
				<nb-reveal-card *ngFor="let Avail of CompletedAvails">
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="info" (click)="display(Avail)" [ngStyle]="{'background-color': Avail._id===selectedResource._id ? '#bdf0ff': 'white'}">
							<nb-card-body>
								<span *ngIf="Avail.url!==''">
									<a href={{Avail.url}} target="_blank">
										<div style="float: right;" class="icon"><i class="fab fa-twitter"></i></div>
									</a>
								</span>
								<b><span>
										<span>{{Avail.text}}</span>
									</span> @ {{Avail.username}} </b><br>
								{{humanReadableDate(Avail.created)}}
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								<!-- Resource: {{parseResources(Avail.Resources)}}<br /> -->
								Contact: {{parseContact(Avail.Contact)}}<br />
								Loc: {{parseLoc(Avail.Locations)}}<br />
								Source: {{Avail.Sources}}<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<div style="text-align: center;"> <a href="javascript:;" (click)="showMoreAvails()">Show More</a></div>
			</nb-card-body>
		</nb-card>
	</div>

	<!-- Search card -->
	<div class="col-xl-3 col-lg-3 col-md-6">
		<nb-card size="large">
			<span *ngIf="!showSelected" style="padding: 2rem;">
				<span *ngIf="showCancelSearch" (click)="clearSearch()" class="icon" style="float: right;"><i class="ion-close-round"></i></span>
				<div class="input-group">
					<span type="submit" (click)="filterTweets()" class="input-group-addon success icon"><i class="ion-search"></i></span>
					<input type="text" class="form-control" placeholder="Search here" [(ngModel)]="searchString" />
				</div>
				<br />
				<br />
				<div style="color: #E5E9F1 !important;">
					<b>Select a tweet to view details</b>
				</div>
			</span>
			<span *ngIf="showSelected" style="padding: 1em;">
				<div style="float: left;" class="icon" (click)="resetSelect()"><i class="ion-close-round"></i></div>
				<div style="text-align: center">
					{{selectedResource.Classification}} <span *ngIf="selectedResource.url!==''"><a href={{selectedResource.url}} target="_blank">
							<div style="margin-left: 0.5em;" class="icon">Tweet <i class="fab fa-twitter"></i></div>
						</a></span>
				</div>
				<br />
				Resources<br /><br />
				<nb-list>
					<nb-list-item *ngFor="let eachResource of resourcesOnly">
						{{ eachResource.resource }} <span style="float: right;">{{ eachResource.count }}</span>
					</nb-list-item>
				</nb-list>
				<br />
				
				Contact: {{parseContact(selectedResource.Contact)}}<br /><br />
				Loc: {{parseLoc(selectedResource.Locations)}}<br /><br />
				Source: {{selectedResource.Sources}}<br /><br />
			</span>
		</nb-card>
	</div>
	<!-- Completed Matches  -->
	<div class="col-xl-3 col-lg-3 col-md-6">
		<nb-card size="xlarge">
			<nb-card-header>Completed Matching</nb-card-header>
			<nb-card-body style="background-color: #E5E9F1 !important;">
				<nb-reveal-card *ngFor="let Match of CompletedMatches">
					<nb-card-front>
						<nb-card size="xsmall" status="info" accent="success" 
						[ngStyle]="{'background-color': Match._id===selectedResource._id || Match.partner._id === selectedResource._id? '#bdf0ff': 'white'}">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<span *ngIf="Match.url!==''">
									<a href={{Match.url}} target="_blank">
										<div style="float: right;" class="icon"><i class="fab fa-twitter"></i></div>
									</a>
								</span>
								<b><span (click)="display(Match)">
										<span *ngIf="Match._id===selectedResource._id" style="background-color: #bdf0ff;">{{Match.text}}</span><span
										 *ngIf="Match._id!==selectedResource._id">{{Match.text}}</span>
									</span> @ {{Match.username}} </b>
								<br> {{humanReadableDate(Match.created)}}
								<hr />
								<!-- Taani partner -->
								<span *ngIf="Match.partner.url!==''">
									<a href={{Match.partner.url}} target="_blank">
										<div style="float: right;" class="icon"><i class="fab fa-twitter"></i></div>
									</a>
								</span>
								<b><span (click)="display(Match.partner)">
										<span *ngIf="Match.partner._id===selectedResource._id" style="background-color: deepskyblue;">{{Match.partner.text}}</span><span
										 *ngIf="Match.partner._id!==selectedResource._id">{{Match.partner.text}}</span>
									</span> @ {{Match.partner.username}} </b>
								<br> {{humanReadableDate(Match.partner.created)}}
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								<!-- Resource: {{parseResources(Match.Resources)}} -->
								Contact: {{parseContact(Match.Contact)}}
								<br /> Loc: {{parseLoc(Match.Locations)}}
								<br /> Source: {{Match.Sources}}
								<hr />
								Contact: {{parseContact(Match.partner.Contact)}}
								<br /> Loc: {{parseLoc(Match.partner.Locations)}}
								<br /> Source: {{Match.partner.Sources}}
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<div style="text-align: center;"><a href="javascript:;" (click)="showMoreMatches()">Show More</a></div>
			</nb-card-body>
		</nb-card>
	</div>	
</div>