<div class="row">
	<!--  https://akveo.github.io/nebular/docs/components/infinite-list/overview#nbinfinitelistdirective -->
	<!-- use infinite list -->
	<div class="col-xl-4 col-lg-4 col-md-6">
		<nb-card size="xlarge">
			<nb-card-header>Completed Need</nb-card-header>
			<nb-card-body style="background-color: #E5E9F1 !important;">
				<!-- List of cards -->
				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="warning">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="warning">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="warning">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="warning">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="warning">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="warning">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="warning">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

			</nb-card-body>
		</nb-card>
	</div>


	<div class="col-xl-4 col-lg-4 col-md-6">
		<nb-card size="xlarge">
			<nb-card-header>Completed Availability</nb-card-header>
			<nb-card-body style="background-color: #E5E9F1 !important;">
				<!-- List of cards -->
				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="info">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="info">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="info">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="info">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="info">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="info">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="info">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

			</nb-card-body>
		</nb-card>
	</div>

	<div class="col-xl-4 col-lg-4 col-md-6">
		<nb-card size="xlarge">
			<nb-card-header>Completed Matching</nb-card-header>
			<nb-card-body style="background-color: #E5E9F1 !important;">
				<!-- List of cards -->
				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="success">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="success">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="success">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="success">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="success">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="success">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

				<nb-reveal-card>
					<nb-card-front>
						<nb-card size="xxsmall" status="info" accent="success">
							<!-- <nb-card-header>Tweet text @user </nb-card-header> -->
							<nb-card-body>
								<b>Tweet text @user </b><br>
								DD / MM / YYYY <br /> Contact 
							</nb-card-body>
							<!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
						</nb-card>
					</nb-card-front>
					<nb-card-back>
						<nb-card size="xxsmall" status="primary" accent="primary">
							<!-- <nb-card-header>Details</nb-card-header> -->
							<nb-card-body>
								Resource   Quantity<br /> Location<br /> Source<br />
							</nb-card-body>
							<!-- <nb-card-footer> Save </nb-card-footer> -->
						</nb-card>
					</nb-card-back>
				</nb-reveal-card>

			</nb-card-body>
		</nb-card>
	</div>	
</div>